<section class="hero position-relative overflow-hidden">
  <!-- Background Video -->
  <video autoplay="true" [src]="videoSrc" loop muted class="hero-video">
    <source [src]="videoSrc" type="video/mp4" />
  </video>

  <!-- Bottom Content -->
  <div class="hero-content position-absolute bottom-0 start-0 w-100">
    <div class="c-container">
      <div class="d-flex align-items-end justify-content-between">
        <div>
          <p class="hero-kicker mb-1">iPhone 17</p>
          <h1 class="hero-title mb-0">Magichromatic.</h1>
        </div>

        <a href="#" class="apple-cta">
          <span class="apple-cta__btn">Buy</span>
        </a>
      </div>
    </div>
  </div>
</section>
