/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/InterVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
* { outline: 0 !important; }

:root{
  --font-system: 
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "SF Pro Icons",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;

    --main-text-color:rgb(29, 29, 31);
}
body{
  font-family: var(--font-system);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.fade-in-left,
.fade-in-right {
  opacity: 0;
  transform: translateX(-40px); /* -40px للشمال، 40px لليمين */
  transition: all 0.6s ease-out;
}

/* يظهر العنصر */
.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}
